# Postgres Environment
DATABASE_PORT=54324
DATABASE_USER=Modify
DATABASE_PASSWORD=Modify
DATABASE_NAME=Modify


# pgAdmin4 Environment
PGADMIN_PORT1=443
PGADMIN_PORT2=8090
PGADMIN_EMAIL=Modify
PGADMIN_PASSWORD=Modify

# Application Environment
STRAPI_PORT=8080
DATABASE_CLIENT=postgres
DATABASE_NAME={ชื่อฐานข้อมูล}
DATABASE_HOST={ip_address}
DATABASE_PORT={port_of_db_container}
DATABASE_USERNAME={user_of_db}
DATABASE_PASSWORD={pass_of_db}
